@font-face {
  src: url(fonts/main-font/Almarose-Regular.otf);
  font-family: almorse;
}
@font-face {
  font-family: almorsebold;
  src: url(fonts/main-font/Almarose-Regular.otf);
}
@font-face {
  font-family: almorseboldest;
  src: url(fonts/main-font/Almarose-Light.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  min-height: 100%;
  line-height: 1;
  font-family: almorse;
  background-color: #ededf6;
}
nav {
  width: 100%;
  background-color: #31343d;
  padding-bottom: 11px;
  padding-right: 5%;
}

nav h2 {
  background-color: #92cccd;
  color: #31343d;
  padding-left: 3%;
  font-family: almorse;
  font-size: 30px;
  padding-top: 8px;
  padding-right: 5px;
  padding-bottom: 5px;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav ul {
  list-style: none;
}
nav ul li {
  display: inline-block;
  text-decoration: none;
  padding-top: 15px;
  padding-left: 10px;
  color: white;
  color: inherit;
  font-family: almorse;
}
nav a {
  font-family: almorse;
  text-decoration: none;
  color: inherit;
  color: #92cccd;
  display: inline;
  border-bottom: 3.3px solid #92cccd;
  padding-left: 8px;
  padding-right: 8px;
}
.hero {
  height: 210px;
  background-image: url("/assets/images/02-hero-bg.jpg");
  background-size: cover;
  background-position: 100% 15%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.span-text {
  background-color: #92cccd;
  padding: 10px;
  font-size: x-large;
  font-family: almorsebold;
  color: #31343d;
}
.hero-subtitle {
  padding-bottom: 3%;
  padding-right: 6%;
}

.sectionAbout {
  display: absolute;
  position: relative;
  padding-left: 50px;
}
.aboutMe {
  color: #435876;
  font-size: xx-large;
  font-family: almorsebold;
}
.me {
  padding-left: 50%;
}

.p1 {
  display: flex;
  padding-left: 170px;
  line-height: 2;
  font-family: almorseboldest;
  color: #66799c;
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 30px;
}
#borderabt {
    display: absolute;
    position: absolute;
    border: 3.7px solid #435876;
    padding-bottom: 160px;
    padding-right: 0.7%;
    border-top: none;
    border-left: none;
    border-bottom: none;
  }

.sectionWork {
    display: flex;
    padding-left: 65px;
    padding-top: 70px;
}
.workHeader {
  color: #435876;
  font-size: xx-large;
  font-family: almorsebold;
  padding-right: 1%;
}
#border {
  display: absolute;
  position: absolute;
  border: 3.7px solid #435876;
  padding-bottom: 750px;
  padding-right: 0.7%;
  border-top: none;
  border-left: none;
  border-bottom: none;
}

.box {
  display: absolute;
  position: absolute;
}
img {
  border: 5px solid #92cccd;
  transition: 0.5s linear;
}

img:hover {
  opacity: 50%;
}

.box img {
  margin-left: 155px;
  width: 900px;
  height: 400px;
}
.span {
  background-color: #92cccd;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 36px;
  font-size: x-large;
  font-family: almorsebold;
  color: #31343d;
  position: absolute;
  left: 157px;
  bottom: 20px;
}
.span-main {
  background-color: #92cccd;
  padding-left: 10px;
  padding-top: 2px;
  padding-right: 10px;
  font-size: small;
  font-family: almorse;
  color: #31343d;
  position: absolute;
  left: 157px;
  bottom: 40px;
}

.imgdiv {
  display: flex;
  position: absolute;
  padding: 20px;
  padding-bottom: none;
}

.sideimg1 {
  display: flex;
  position: absolute;
  right: 0px;
  left: 155px;
  top: 425px;
  bottom: 500px;
  width: 445px;
  height: 160px;
}

.LEDspan {
  background-color: #92cccd;
  width: 140px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 50px;
  font-size: x-large;
  font-family: almorsebold;
  color: #31343d;
  position: absolute;
  top: 500px;
  left: 155px;
  bottom: 10px;
}
.LED-text {
  width: 140px;
  padding-left: 12px;
  padding-top: 35px;
  padding-bottom: 70px;
  font-size: small;
  font-family: almorsebold;
  color: #31343d;
  position: absolute;
  top: 500px;
  left: 155px;
  bottom: 10px;
}

/* Another panel of image*/
.imgdiv2 {
  display: flex;
  position: absolute;
  padding: 20px;
  padding-bottom: none;
}

.sideimg2 {
  display: flex;
  position: absolute;
  right: 0px;
  left: 610px;
  top: 425px;
  bottom: 500px;
  width: 445px;
  height: 160px;
}

.span2 {
  background-color: #92cccd;
  width: 150px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 50px;
  font-size: x-large;
  font-family: almorsebold;
  color: #31343d;
  position: absolute;
  top: 500px;
  left: 610px;
  bottom: 10px;
}
.span-text3 {
  width: 150px;
  padding-left: 12px;
  padding-top: 35px;
  padding-bottom: 70px;
  font-size: small;
  font-family: almorsebold;
  color: #31343d;
  position: absolute;
  top: 500px;
  left: 610px;
  bottom: 10px;
}

.imgdiv {
  display: flex;
  position: absolute;
  padding: 20px;
  padding-bottom: none;
}

.sideimg1 {
  display: flex;
  position: absolute;
  right: 0px;
  left: 155px;
  top: 425px;
  bottom: 500px;
  width: 445px;
  height: 160px;
}

.LEDspan {
  background-color: #92cccd;
  width: 140px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 50px;
  font-size: x-large;
  font-family: almorsebold;
  color: #31343d;
  position: absolute;
  top: 500px;
  left: 155px;
  bottom: 10px;
}
.LED-text {
  width: 140px;
  padding-left: 12px;
  padding-top: 35px;
  padding-bottom: 70px;
  font-size: small;
  font-family: almorsebold;
  color: #31343d;
  position: absolute;
  top: 500px;
  left: 155px;
  bottom: 10px;
}

/* Another panel of image*/
.imgdiv2 {
  display: flex;
  position: absolute;
  padding: 20px;
  padding-bottom: none;
}

.sideimg2 {
  display: flex;
  position: absolute;
  right: 0px;
  left: 610px;
  top: 425px;
  bottom: 500px;
  width: 445px;
  height: 160px;
}

.span2 {
  background-color: #92cccd;
  width: 150px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 50px;
  font-size: x-large;
  font-family: almorsebold;
  color: #31343d;
  position: absolute;
  top: 500px;
  left: 610px;
  bottom: 10px;
}
.span-text3 {
  width: 150px;
  padding-left: 12px;
  padding-top: 35px;
  padding-bottom: 70px;
  font-size: small;
  font-family: almorsebold;
  color: #31343d;
  position: absolute;
  top: 500px;
  left: 610px;
  bottom: 10px;
}

/*Bottom 2 boxes*/
.imgdiv3 {
  display: flex;
  position: absolute;
  padding: 20px;
  padding-bottom: none;
}

.sideimg3 {
  display: flex;
  position: absolute;
  right: 0px;
  left: 155px;
  top: 605px;
  bottom: 400px;
  width: 445px;
  height: 160px;
}

.span3 {
  background-color: #92cccd;
  width: 170px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 50px;
  font-size: x-large;
  font-family: almorsebold;
  color: #31343d;
  position: absolute;
  top: 684px;
  left: 155px;
  bottom: 10px;
}
.span-text4 {
  width: 140px;
  padding-left: 12px;
  padding-top: 35px;
  padding-bottom: 70px;
  font-size: small;
  font-family: almorsebold;
  color: #31343d;
  position: absolute;
  top: 684px;
  left: 155px;
  bottom: 10px;
}

/* Another panel of image*/
.imgdiv4 {
  display: flex;
  position: absolute;
  padding: 20px;
  padding-bottom: none;
}

.sideimg4 {
  display: flex;
  position: absolute;
  right: 0px;
  left: 610px;
  top: 605px;
  bottom: 500px;
  width: 445px;
  height: 160px;
}

.span4 {
  background-color: #92cccd;
  width: 150px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 50px;
  font-size: x-large;
  font-family: almorsebold;
  color: #31343d;
  position: absolute;
  top: 684px;
  left: 610px;
  bottom: 10px;
}
.span-text5 {
  width: 150px;
  padding-left: 12px;
  padding-top: 35px;
  padding-bottom: 70px;
  font-size: small;
  font-family: almorsebold;
  color: #31343d;
  position: absolute;
  top: 684px;
  left: 610px;
  bottom: 10px;
}

.sectionContact {
    display: absolute;
    position: relative;
    padding-left: 1%;
    bottom: 0px;
    top: 820px;
    padding-bottom: 2%;
    
  }
  .contact {
    color: #435876;
    font-size: x-large;
    font-family: almorsebold;
    padding-right: none;
    display: absolute;
    position: relative;
    padding-right: 10px;
    padding-left: -10px;
  }
  .contactme {
    padding-left: 50%;
  }
  .contactp1 {
    line-height: 2;
    font-family: almorseboldest;
    color: #66799c;
    font-size: 15px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 30px;
  }
#border2 {
  display: absolute;
  position: absolute;
  border: 3.7px solid #435876;
  border-top: none;
  border-left: none;
  border-bottom: none;
}
footer{
    display: absolute;
    position: absolute;
}
footer ul {
  list-style: none;
  font-size: x-large;
  padding-left: 16%;
}
footer ul li {
  display: inline-block;
  text-decoration: none;
  padding-top: 15px;
  padding-left: 30px;
  color: #435876;
  color: inherit;
  font-family: almorse;
}
footer a {
  font-family: almorse;
  text-decoration: none;
  color: inherit;
  color: #435876;;
  display: inline;
  border-bottom: 3.4px solid #435876;;
  padding-left: 10px;
  padding-right: 8px;
}
